.video {
  display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 1920px;
    height: 95vh;
    padding: 0 4rem;
    margin-bottom: 10rem;
    background-image: url("../../assets/images/video_bg.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .video h3 {
    margin-top: 5rem;
    margin-bottom: 10rem;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    font-size: 6.5rem;
    color: #fff;
  }
  .video h3 span {
    color: #18A0FB;
  }
  
@media (max-width: 1520px) {
  .video {
    max-height: 50vh;
    margin-bottom: 11rem;
  }

  .video h3 {
    font-size: 6rem;
  }
}

@media screen and (max-width: 1440px) {
  .video {
    max-height: 60vh;
    margin-bottom: 20%;
  }
}

@media screen and (max-width: 1024px) {
    .video {
      height: 50vh;
      margin-bottom: 33%;
    }
  }

@media screen and (max-width: 900px) {
    .video .swiper_video .swiper_video_container .slide {
      margin-left: 7rem;
      max-width: 41%;
    }

    .video {
      max-height: 55vh;
      margin-bottom: 33%;
    }

    .video h3 {
      font-size: 5rem;
    }
}

@media screen and (max-width: 845px) {
  .video {
    margin-bottom: 33%;
  }
}

@media screen and (max-width: 500px) {
  .video {
    height: 30vh;
    margin-bottom: 50%;
  }
  .video h3 {
    font-size: 4rem;
  }
}

@media screen and (max-width: 350px) {
  .video {
    height: 50vh;
  }
  
  .video h3 {
    font-size: 3rem;
  }
}

  /* Slider */

.slick-slide h4 {
    margin-top: 2rem;
    font-size: 2rem;
    text-align: center;
    color: #fff;
}