/* @font-face {
    font-family: "Inter";
    src: url("/fonts/Inter/Inter-SemiBold.ttf");
    font-display: swap;
    font-weight: 600;
    font-style: normal;
  }
  @font-face {
    font-family: "Inter";
    src: url("/fonts/Inter/Inter-Bold.ttf");
    font-display: swap;
    font-weight: 700;
    font-style: normal;
  }
  @font-face {
    font-family: "Montserrat";
    src: url("/fonts/Montserrat/Montserrat-Bold.ttf");
    font-display: swap;
    font-weight: 700;
    font-style: normal;
} */
  
