.benefits {
    background: 
        linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.8)), 
        url("../../assets/images/benefits_bg.png");
    background-position: center !important;
    background-size: cover !important;
    background-repeat: no-repeat;
}
  
.benefits_container {
    max-width: 1680px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.benefits_container h3 {
    padding-top: 7rem;
    padding-bottom: 2rem;
    font-size: 6.5rem;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    color: #fff;
}
  
.benefits_container h3 span {
    color: #18A0FB;
}
  
.benefits_container img {
    width: 70%;
    height: 70%;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
}

@media (max-width: 1520px) {
    .benefits_container img {
        width: 60%;
    }
    .benefits_container h3 {
        font-size: 6rem;
    }       
}

@media (max-width: 845px) {
    .benefits_container h3 {
        font-size: 5rem;
    }

    .benefits_container img {
        width: 60%;
    } 
}

@media (max-width: 500px) {
    .benefits_container h3 {
        font-size: 4rem;
    }

    .benefits_container img {
        width: 90%;
    } 
}

@media (max-width: 350px) {
    .benefits_container h3 {
        font-size: 3rem;
    } 
}