.activity_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-bottom: 10rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-image: url("../../assets/images/activity_bg.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .activity_container h3 {
    margin-top: 10rem;
    margin-bottom: 10rem;
    font-size: 6.5rem;
    color: #fff;
  }
  .activity_container h3 span {
    color: #18A0FB;
  }
  .activity_container .activity_box_img {
    max-width: 69%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .activity_container .activity_box_img .image {
    padding-bottom: 5rem;
  }
  .activity_container .activity_box_img .image:not(:nth-child(4n)) {
    padding-right: 5rem;
  }

   
  @media (max-width: 1520px) {
    .activity_container .activity_box_img .image:not(:nth-child(3n)) {
      padding-right: 5rem;
    }
  }

  @media (max-width: 1440px) {
    .activity_container .activity_box_img {
      max-width: 74%;
    }
    .activity_container .activity_box_img .image {
      padding-bottom: 3rem;
    }
    .activity_container .activity_box_img .image:not(:nth-child(4n)) {
      padding-right: 3rem;
    }
  }

  @media (max-width: 1366px) {
    .activity_container .activity_box_img .image:not(:nth-child(3n)) {
      padding-right: 3rem;
    }
    .activity_container .activity_box_img {
      max-width: 90%;
    }
  }

  @media (max-width: 1024px) {
     .activity_container .activity_box_img {
      padding-left: 5rem;
    }
    
    .activity_container .activity_box_img .image {
      width: 25%;
      padding-bottom: 5rem;
    }

    .activity_container .activity_box_img .image img {
      width: 70%;
    }

    .activity_container .activity_box_img .image:not(:nth-child(3n)) {
      padding-right: 0rem;
    }

    .activity_container .activity_box_img .image:not(:nth-child(4n)) {
      padding-right: 0rem;
    }
  }

  @media (max-width: 900px) {
    .activity_container h3 {
      margin-bottom: 3rem;
    }
  }

  @media (max-width: 845px) {
    .activity_container h3 {
      font-size: 5rem;
    }
  }

  @media (max-width: 500px) {
    .activity_container h3 {
      font-size: 4rem;
    }
  }

  @media (max-width: 350px) {
    .activity_container h3 {
      font-size: 3rem;
    }
  }